
.App{
    display: block;
    max-width: 960px;
    margin: 0 auto;
}

.graph-div {
background-color: #fff;
}

.form-wrapper label {
  display: inline-block;
  font-weight:600;
  font-size: 0.8em;
}

.form-wrapper label .select-input{
  display: block;
}

.select-input {
margin: 5px 20px 5px 0;
padding: 16px 20px;
border: none;
border-radius: 4px;
border:1px solid #aaa;
}
button{
    background-color: #4CAF50;
    color:white;
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
  }

button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .wrapper {
    min-height: 400px;
    position: relative;
}

.message {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 35%;
    font-size: 1.1em;
    font-weight: 400;
    color: #303030;
}


.legendContainer {
  position: absolute;
  border: 1px solid #ccc;
  padding: 20px 10px;
  right: 10px;
  top: 10px;
  background: #fff;
  box-shadow: -1px 3px 5px #000;
}



.inputautocomplete-wrapper {
  position: relative;
  padding-bottom: 20px;
  overflow: visible;
  z-index: 1;
}


.error {
  position: absolute;
  color: #ff0000;
  font-size: 0.8em;
  bottom: 5px;
  left: 5px;
}

.inputautocomplete-wrapper ul {
  list-style: none;
  padding:0;
  background:#fff;
  border: 1px solid #ededed;
  position:absolute;
  width:85%;
  box-shadow: 1px 1px 4px #aaa;
  top: 35px;
  left:5px;

}


.inputautocomplete-wrapper ul li{
  padding: 3px 10px;
  width: 100%;
  font-weight:300;
}

.inputautocomplete-wrapper ul li.option-active, .inputautocomplete-wrapper ul li:hover{
  font-weight:600;
  cursor: pointer;
}